article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* GENERAL CSS */

html{
    font-size: 16px;
}

.wrapper{
    margin: 0 auto;
    width: 75%;
}

ul{
    list-style: none;
    padding: 0;
}

.content{
    padding-top: 50px;
}

section{
    /* height: 100vh; */
    padding-top: 100px;
}

p{
    color: rgb(39, 38, 38);
    font-family:'Libre Baskerville', 'serif';
    font-size: 1.3rem;
    line-height: 2.3rem;
}

/* HEADER */

header{
    align-items: center;
    display: flex;
    height: 100vh;
    position: relative;
}

.headerTitles{
    transform: translateY(-150px);
}

h1{
    /* font-family:'Libre Baskerville', 'serif'; */
    font-family:'Karla', 'sans-serif';
    line-height: 4rem;
    font-size: 5rem;
    text-transform: lowercase;
}

h2 {
    font-size: 2.5rem;
    line-height: 1.4rem;
    color: rgb(39, 38, 38);
    font-family:'Karla', 'sans-serif';
}


/* NAV BAR */

.navBar{
    background-color: rgb(69, 0, 0);
    border-bottom: 5px whitesmoke groove;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.navBar ul{
    display: flex;
    justify-content: flex-end;
}

.navBar ul li{
    padding: 5px 15px;
}

.navBar a{
    color: whitesmoke;
    font-size: 1.5rem;
    font-family:'Karla', 'sans-serif';
    text-decoration: none;
}

#navBar.top {
    position: fixed;
    top: 0;
    bottom: auto;
}



.gifs{
    align-items: center;
    display: flex;
    justify-content: space-around;
}

/* CONTACT */

h3 {
    font-size: 1.8rem;
    line-height: 1.4rem;
    color: rgb(39, 38, 38);
}

.social{
    display: flex;
    margin-bottom: 50px;
}

.social li{
    margin-right: 30px;  
}
.social a{
    color: rgb(39, 38, 38);
    font-family:'Karla', 'sans-serif';
    font-size: 3rem;
    line-height: 3rem;
    text-decoration: none;

}

.connect a{
    color: rgb(39, 38, 38);
    font-family:'Karla', 'sans-serif';
    font-size: 1.5rem;
    line-height: 2.3rem;
    text-decoration: none;
}

.contactFlex{
    margin: 100px;
}


/* FOOTER */

footer{
    background-color: rgb(39, 38, 38);
    border-top: 3px whitesmoke groove;
    text-align: center;
}

footer ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer li{
    padding: 5px 25px;
}

footer a{
    color: whitesmoke;
    font-size: 1.6rem;
    text-decoration: none;
}
